@charset "UTF-8";
/* CSS Document */

.transition{
	transition: all 1.2s ease-out;
}
.animate-show{
	opacity: 1;
}
.icon-menu.icon-menu-show{
	background-position: -53px -4px;	
}

/*==============================================Transition Trang 1===========================================*/
.transition.animate-show.hinh-0{
	right: 25px;
}
.transition.animate-show.hinh-1{
	left: 25px;
}
.transition.animate-show.noidung-1{
}
.transition.animate-show.story{
	right: 5px;
}
/*==============================================Transition Trang 2===========================================*/

.transition.animate-show.hinh-2{
	left: 20px;
	top: 175px;
}
.transition.animate-show.noidung-2{
	top: 170px;
	right: 20px;
}
.transition.animate-show.matcha{
	top: 90px;
}
.transition.animate-show.hinh-3{
	right: 20px;
}
.transition.animate-show.noidung-3{
	left: 50px;
	bottom:70px;
}
/*==============================================Transition Trang 3===========================================*/

.transition.animate-show.menu{
	top:70px;
}
.transition.animate-show.hinh-4{
	top: 170px;
	left: 20px;
}
.transition.animate-show.noidung-4{
	top: 170px;
	left: 135px;
}
.transition.animate-show.hinh-5{
	bottom: 10px;
	right: 10px;
}
/*==============================================Transition Trang 4===========================================*/

.transition.animate-show.tet{
	top: 90px;
	right:85px;
}
.transition.animate-show.hinh-6{
	top: 160px;
	left: 15px;
}
.transition.animate-show.noidung-6{
	top: 190px;
	right: 0px;
}
.transition.animate-show.hinh-7{
	bottom: 80px;
	right: 15px;
}
.transition.animate-show.hinh-8{
	bottom: 80px;
	right: 25px;
}

/*==============================================TABLET==========================================*/
@media only screen and (min-width:40.063em){
	.icon-menu.icon-menu-show{
		background-position: -85px -7px;
	}
/*==============================================Transition Trang 1===========================================*/
	.transition.animate-show.hinh-0{
		right: 25px;
		bottom: 100px;
	}
	.transition.animate-show.hinh-1{
		left: 25px;
	}
	.transition.animate-show.noidung-1{
		right:100px;
		top: 275px;
	}
	.transition.animate-show.story{
	}
/*==============================================Transition Trang 2===========================================*/

	.transition.animate-show.hinh-2{
		left: 25px;
		top: 270px;
	}
	.transition.animate-show.noidung-2{
		right: 30px;
		top: 270px;
	}
	.transition.animate-show.matcha{
		top: 150px;
	}
	.transition.animate-show.hinh-3{
		right: 25px;
	}
	.transition.animate-show.noidung-3{
		bottom: 80px;
	}
/*==============================================Transition Trang 3===========================================*/

	.transition.animate-show.menu{
		top:110px;
	}
	.transition.animate-show.hinh-4{
		top: 305px;
		left: 35px;
	}
	.transition.animate-show.noidung-4{
		top: 305px;
		left: 220px;
	}
	.transition.animate-show.hinh-5{
		bottom: 100px;
		right: 40px;
	}
/*==============================================Transition Trang 4===========================================*/

	.transition.animate-show.tet{
		top: 120px;
	}
	.transition.animate-show.hinh-6{
		top: 225px;
		left: 15px;
	}
	.transition.animate-show.noidung-6{
		top: 290px;
		right: 15px;
	}
	.transition.animate-show.hinh-7{
		bottom: 120px;
		right: 15px;
	}
	.transition.animate-show.hinh-8{
		bottom: 120px;
		right: 20px;
	}
}

/*==============================================DESKTOP==========================================*/
@media only screen and (min-width:64.063em){
	.icon-menu.icon-menu-show{
		transition: all 1.2s ease;
		background-position: -65px -5px;
	}
/*==============================================Transition Trang 1===========================================*/
	.transition.animate-show.hinh-0{
		right: 75px;
		bottom:20px;
	}
	.transition.animate-show.hinh-1{
		left: 0px;
	}
	.transition.animate-show.noidung-1{
		top: 300px;
	}
	.transition.animate-show.story{
		top: 100px;
	}
/*==============================================Transition Trang 2===========================================*/

	.transition.animate-show.hinh-2{
		top: 160px;
		left: 65px;
	}
	.transition.animate-show.noidung-2{
		top: 190px;
		right: 50px;
	}
	.transition.animate-show.matcha{
		top: 100px;
		right: 150px;
	}
	.transition.animate-show.hinh-3{
		right: 75px;
		bottom: 45px;
	}
	.transition.animate-show.noidung-3{
		bottom: 5w20px;
		left: 560px;
	}
/*==============================================Transition Trang 3===========================================*/

	.transition.animate-show.menu{
		top: 105px;
	}
	.transition.animate-show.hinh-4{
		left: 130px;
		top:190px;
	}
	.transition.animate-show.noidung-4{
		right: 100px;
	}	
/*==============================================Transition Trang 4===========================================*/

	.transition.animate-show.tet{
		top: 105px;
		right:200px;
	}
	.transition.animate-show.hinh-6{
		top: 145px;
		left: 75px;
	}
	.transition.animate-show.noidung-6{
		top: 250px;
		right: 45px;
	}
	.transition.animate-show.noidung-7{
		top: 470px;
		right: 45px;
	}
	.transition.animate-show.hinh-7{
		top:400px;
		right: 30px;
	}
	.transition.animate-show.hinh-8{
		top:400px;
		right: 100px;
	}
}