@charset "UTF-8";
/* CSS Document */
@font-face{
	font-family: 'avo';
	src:url(../font/UTMAvo.eot)format('eot'),
		url(../font/UTMAvo.woff) format('woff'),
		url(../font/UTMAvo.ttf) format('truetype');
}
p{
	font-family: 'avo';
}

/*==============================================MENU AN===========================================*/
.menuholder{
	position: relative;
	z-index: 100;
}
.menuharuno{
	position: absolute;
	top: 37px;
	right: -65%;
	transition: all 0.7s ease-out;
}
.showmenu{
	right: 0;
	}
.bavach{
	float: left;
	margin-right: 5px;
}
.bavach a{
	width: 39px;
	height: 28px;
	display: block;
}
.icon-menu{
	background-image: url(../img/iconmenu.png);
	background-repeat: no-repeat;
	background-size: 230%;
	background-position: 3px -4px;
	transition: all 0.5s ease;
}
.menuan{
	list-style: none;
	display: flex;
	z-index: 1;
	float: right;
	margin-left: 5px;
}
.menuan li{
	margin-right: 14px;
}
.menuan li a{
	font-family: 'avo';
	font-size: 12px;
	color: black;
}
.menuan li a span{
	color:#6a943e;
	font-weight: bold;
}
/*============================================== BODY ===========================================*/

.logo{
	max-width: 20%;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}
#fullpage {
	z-index: 0
}
#fullpage p{
		font-size: 14px;
}
#fullpage h1{
	font-family: 'avo';
}
/*==============================================SLIDE     1===========================================*/
#section0{
	position: relative;
}
.story{
	max-width: 70%;
	position: absolute;
	top: 90px;
	right: 45px;
	opacity: 0;
}
.hinh-0{
	max-width: 90%;
	position: absolute;
	bottom: 85px;
	right: 0;
	opacity: 0;
}
.hinh-1{
	opacity: 0;
	position: absolute;
	max-width: 80%;
	top: 140px;
	left: 0px;
	z-index: 1;
}
.noidung-1{
	position: absolute;
	z-index: 0;
	top: 220px;
	right: 50px;
	opacity: 0;
}
.noidung-1>p{
	width: 15rem;
}
/*==============================================SLIDE    2===========================================*/
#section1{
	position: relative;
}
.hinh-2{
	max-width: 35%;
	position: absolute;
	top: 115px;
	left: 0;
	z-index: 1;
	opacity: 0;
}
.noidung-2{
	opacity: 0;
	position: absolute;
	
	right: 0;
}
.noidung-2>p{
	width: 16rem;
}
.matcha{
	max-width: 45%;
	position: absolute;
	top: 40px;
	right: 70px;
	opacity: 0;
}
.hinh-3{
	max-width: 25%;
	position: absolute;
	bottom: 80px;
	right: 0;
	z-index: 1;	
	opacity: 0;
}
.noidung-3{
	position: absolute;
	bottom: 0;
	right: 0px;
	bottom:55px;
	opacity: 0;

}
.noidung-3>p{
	width: 15rem;
}
/*==============================================SLIDE    3===========================================*/
#section2{
	position: relative;
}
.menu{
	max-width: 50%;
	position: absolute;
	top: 110px;
	right: 20px;
	opacity: 0;
}
.hinh-4{
	max-width: 21%;
	position: absolute;
	top: 250px;
	right: 130px;
	z-index: 1;
	opacity: 0;
}
.noidung-4{
	position: absolute;
	top: 200px;
	left:70px;
	opacity: 0;
}
.noidung-4>p{
	width: 11rem;
}
.hinh-5{
	position: absolute;
	bottom: 120px;
	right: 20px;
	z-index: 1;	

}
.noidung-5 img{
	position:absolute;
	left: 18rem;
	top:240px;
	max-width:40%;
}
.noidung-5 h2{
	float: left;
}
.noidung-5 h2 span{
	position: absolute;
	left: 85px;
}
/*==============================================SLIDE     4===========================================*/

#section3{
	position: relative;
}
.tet{
	max-width: 25%;
	position: absolute;
	top: 0;
	right: 50px;
	opacity: 0;
	z-index: 1;
}
.hinh-6{
	max-width: 30%;
	position: absolute;
	top: 10px;
	left: 100px;
	opacity: 0;
}
.noidung-6{
	position: absolute;
	top: 90px;
	right: 10px;
	opacity: 0;
}
.noidung-6>p{
	width: 10rem;
	padding: 0;
	margin: 0;
}
.hinh-7{
	max-width: 30%;
	position: absolute;
	bottom: 0;
	right: 95px;
	z-index: 1;	
	opacity: 0;
}
.noidung-7{
	position: absolute;
	bottom: 200px;
	left: 165px;
	opacity: 0;
}
.noidung-7>p{
	width: 15rem;
	
}
.hinh-8{
	max-width: 30%;
	position: absolute;
	bottom: 0;
	left: 155px;
	opacity: 0;
}
/*==============================================	FOOTER 	;===========================================*/
footer{
	margin: 0 50px;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.content{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.list-social{
	list-style: none;
	opacity: 0.7;
	margin: 0;
}
.list-social li{
	display: inline-block;
}
.trai{
	margin-left: 1rem;
	float: left;
	font-size: 13px;
}
.phai{
	float: right;
}
.icon{
	background: url(../img/icon-homepage.png) no-repeat;
	background-size: 170px;
}
.list-social li a{
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 10px;
}
.icon-facebook{
	background-position: -4px -4px;
	transition: all .2s ease;
}
.icon-facebook:hover{
	background-position: -4px -50px;
}
.icon-instagram{
	background-position: -50px -4px;
	transition: all .2s ease;
}
.icon-instagram:hover{
	background-position: -50px -50px;

}
.list-social li .icon-twitter{
	width: 23px;
	background-position: -98px -4px;
	transition: all .2s ease;
}
.list-social li .icon-twitter:hover{
	background-position: -98px -50px;
}
.icon-pinterest{
	background-position: -143px -4px;
	transition: all .2s ease;
}
.icon-pinterest:hover{
	background-position: -143px -50px;

}
						/*==============================================TABLET==========================================*/

@media only screen and (min-width:40.063em){	
	#fullpage p{
		font-size: 22px;
	}
	/*==============================================Menu An===========================================*/

	.logo{
		top: 15px;
		left: 15px;
	}
	.menuharuno{
		top: 50px;
		right: -65.5%;
	}
	.showmenu{
		right: 0;
	}
	.icon-menu{
		background-size: 300%;
		background-position: -8px -8px;
	}
	.bavach{
		margin-right: 15px;
	}
	.bavach a{
		width: 45px;
		height: 37px;
	}
	.menuan li{
		margin-right: 20px;
	}
	.menuan li a{
		font-size: 20px;
	}
	
	/*==============================================	FOOTER: ;===========================================*/
	.icon{
		background-size: 252px;
	}
	.trai{
		font-size: 20px;
	}
	.list-social li a{
		width: 35px;
		height: 35px;
		margin-right: 15px;
	}
	.icon-facebook{
		background-position: -8px -7px;
	}
	.icon-facebook:hover{
		background-position: -7px -76px;
	}
	.icon-instagram{
		background-position: -76px -7px;
	}
	.icon-instagram:hover{
		background-position: -76px -76px;
	}
	.list-social li .icon-twitter{
		width: 34px;
		background-position: -145px -7px;
	}
	.list-social li .icon-twitter:hover{
		background-position: -145px -76px;
	}
	.list-social li .icon-pinterest{
		width: 29px;
		background-position: -216px -7px;
	}
	.list-social li .icon-pinterest:hover{
		background-position: -216px -76px;
	}
	/*==============================================SLIDE     1===========================================*/
#section0{
	position: relative;
}
.story{
	max-width: 70%;
	position: absolute;
	top: 90px;
	right: 45px;
	opacity: 0;
}
.hinh-0{
	max-width: 150%;
	position: absolute;
	bottom: 95px;
	right: 0;
	opacity: 0;
}
.hinh-1{
	opacity: 0;
	position: absolute;
	max-width: 100%;
	top: 140px;
	left: 0px;
	z-index: 1;
}
.noidung-1{
	position: absolute;
	z-index: 0;
	top: 220px;
	right: 50px;
	opacity: 0;
}
.noidung-1>p{
	width: 15rem;
}
/*==============================================SLIDE    2===========================================*/
#section1{
	position: relative;
}
.hinh-2{
	max-width: 45%;
	position: absolute;
	top: 255px;
	left: 0;
	z-index: 1;
	opacity: 0;
}
.noidung-2{
	opacity: 0;
	position: absolute;
	top:140px;
}
.noidung-2>p{
	width: 22rem;
}
.matcha{
	max-width: 45%;
	position: absolute;
	top: 40px;
	right: 70px;
	opacity: 0;
}
.hinh-3{
	max-width: 35%;
	position: absolute;
	bottom: 80px;
	right: 0;
	z-index: 1;	
	opacity: 0;
}
.noidung-3{
	position: absolute;
	bottom: 0;
	right: 0px;
	bottom:55px;
	opacity: 0;

}
.noidung-3>p{
	width: 25rem;
}
/*==============================================SLIDE    3===========================================*/
#section2{
	position: relative;
}
.menu{
	max-width: 45%;
	position: absolute;
	top: 130px;
	right: 20px;
	opacity: 0;
}
.hinh-4{
	max-width: 21%;
	position: absolute;
	top: 350px;
	right: 130px;
	z-index: 1;
	opacity: 0;
}
.noidung-4{
	position: absolute;
	top: 200px;
	left:70px;
	opacity: 0;
}
.noidung-4>p{
	width: 26rem;
}
.hinh-5{
	position: absolute;
	bottom: 120px;
	right: 20px;
	z-index: 1;	
}
.noidung-5 img{
		position:absolute;
		left: 15rem;
		top: 590px;
		max-width:45%;
}
.noidung-5 h2{
	float: left;
}
.noidung-5 h2 span{
	position: absolute;
	left: 85px;
}
/*==============================================SLIDE     4===========================================*/

#section3{
	position: relative;
}
.tet{
	max-width: 25%;
	position: absolute;
	top: 0;
	right: 50px;
	opacity: 0;
	z-index: 1;
}
.hinh-6{
	max-width: 35%;
	position: absolute;
	top: 10px;
	left: 100px;
	opacity: 0;
}
.noidung-6{
	position: absolute;
	top: 90px;
	right: 10px;
	opacity: 0;
}
.noidung-6>p{
	width: 10rem;
	padding: 0;
	margin: 0;
}
.hinh-7{
	max-width: 37%;
	position: absolute;
	bottom: 0;
	right: 95px;
	z-index: 1;	
	opacity: 0;
}
.noidung-7{
	position: absolute;
	top: 215px;
	left: 300px;
	opacity: 0;
}
.noidung-7>p{
	width: 20rem;
	
}
.hinh-8{
	max-width: 37%;
	position: absolute;
	bottom: 0;
	right: 55px;
	opacity: 0;
}
}

/*==============================================DESKTOP==========================================*/
@media only screen and (min-width:64.063em){
	#fullpage p{
		font-size: 18px;
	}
	.logo{
		left: 20px;
		max-width: 10%;
	}
	.menuharuno{
		top: 44px;
		right: -545px;
	}
	.showmenu{
		right: 0;
	}
	.bavach{
		margin-top: 5px;
		margin-right: 20px;
	}
	.bavach a{
		width: 35px;
		height: 31px;
	}
	.icon-menu{
		background-position: -6px -5px;
	}
	.menuan li a{
		font-size: 22px;
		position: relative;
	}
	.menuan li a:after{
		content: '';
		width: 0%;
		height: 2px;
		background-color: #6a943e;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		margin-left: auto;
		margin-right: auto;
		transition: width 0.25s ease-out;
	}
	.menuan li a:hover:after{
		width: 100%;
	}

/*==============================================SLIDE     1===========================================*/
	.story{
		max-width: 50%;
		top: 0px;
		right: 100px;
	}
	.noidung-1{
		top: 350px;
		left: 450px;
	}
	.noidung-1>p{
		width: 30rem;
		max-width: 20rem;
	}
	.hinh-1{
		max-width: 80%;
		top: 50px;
		left:100px;
	}
	.hinh-0{
		max-width:90%;
		bottom: 10px;
	}
/*==============================================SLIDE     2===========================================*/
	.matcha{
		max-width: 30%;
		top: 0;
		right: 355px;
	}
	.hinh-2{
		max-width: 30%;
		top: 140px;
	}
	.noidung-2{
		top: 130px;
		left: 30rem;
	}
	.noidung-2>p{
		width: 40rem;
		max-width: 20rem;
	}
	.hinh-3{
		max-width: 25%;
		bottom: 120px;
	}
	.noidung-3{
		left: 34rem;
		bottom: 120px;
	}
	.noidung-3>p{
		width: 43rem;
		max-width: 20rem;
	}
/*==============================================SLIDE     3===========================================*/
	.menu{
		position:relative;
		max-width: 40%;
		top: 0;
		left: 600px;
	}
	.hinh-4{
		max-width: 100%;
		top: 160px;
		left:35rem;
	}
	.noidung-4{
		position:absolute;
	}
	.noidung-4>p{
	
		width: 40rem;
		max-width: 15rem;
		opacity:0;
	}
	.noidung-5 img{
		position:absolute;
		left: 35rem;
		top: 450px;
		max-width:30%;
	}
	.noidung-5>p{
		width: 10rem;
		max-width: 20rem;
	}
	 

/*==============================================SLIDE     4===========================================*/
	.tet{
		max-width: 18%;
		top: 100px;
		right: 250px;
	}
	.hinh-6{
		max-width: 43%;
		top: 145px;
		left: 175px;
	}
	.noidung-6{
		top: 250px;
		right: 145px;
	}
	.noidung-6>p{
		width: 37rem;
	}
	.noidung-7{
		bottom: 30px;
		left: 75px;
	}
	.noidung-7>p{
		width: 36rem;

	}
	.hinh-7{
		max-width: 22%;
		right: 0;
		bottom: 100px
	}
	.hinh-8{
		max-width: 22%;
		bottom: 0px;
		left:690px;
	}
/*==============================================	FOOTER 	;===========================================*/
	.content{
		max-width: 100%;
		margin: 0 40px;
	}
	.trai{
		margin: 0;
		font-size: 14px;
	}
	.icon{
		background-size: 180px;
	}
	.list-social li a{
		width: 25px;
		height: 25px;
		margin-right: 0;
		margin-left: 15px;
	}
	.icon-facebook{
		background-position: -5px -5px;
	}
	.icon-facebook:hover{
		background-position: -5px -54px;
	}
	.icon-instagram{
		background-position: -54px -5px;
	}
	.icon-instagram:hover{
		background-position: -54px -54px;
	}
	.list-social li .icon-twitter{
		width: 24px;
		background-position: -104px -5px;
	}
	.list-social li .icon-twitter:hover{
		background-position: -104px -54px;
	}
	.list-social li .icon-pinterest{
		width: 21px;
		background-position: -154px -5px;
	}
	.list-social li .icon-pinterest:hover{
		background-position: -154px -54px;
	}
	
}
